$mainColor : #E4B7FF;
$subColor : #88218B;

.registerWrap{
  width : 100%;
  height : 100vh;
  background-color: $mainColor;
  margin : auto;
  position : relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3{
    font-size : 30px;
    font-weight: 900;
    padding-top : 50px;
    margin-bottom : 50px;
  }

  form{
    width : 80%;
    height : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items : center;
  }
    button{
      width : 80%;
      height : 40px;
      border-radius: 10px;
      border: none;
      background-color: darken($mainColor, 30%);
      font-size : 20px;
      font-weight: 600;
      color : #fff;
      margin : 20px 0;
      &:hover{
        cursor: pointer;
        background-color : lighten($subColor,30%)
      }
    }

    .toLogin{
      color : #000;
      text-decoration: none;
      margin-bottom : 20px;
      font-size: 20px;
      &:hover{
        cursor: pointer;
        font-weight : 600;
        color : $subColor;
      }
    }
}